<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Control Panel</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

    <script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</head>

<body>
    <!-- navbar -->
    <div class="container-fluid">
        <div class="navbar navbar-expand-lg bg-dark navbar-dark">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/images/ShopmeAdminSmall.png}" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuItems">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="menuItems">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/users}">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/categories}">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/brands}">Brands</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/products}">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/customers}">Customers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/shippings}">Shipping</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/orders}">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/reports}">Sale Report</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/articles}">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/menus}">Menus</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/settings}">Settings</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- content -->
    <div class="container">
        <div>
            <h1>Manage users</h1>
            <a th:href="@{/users/create}">Create user</a>
        </div>
        <div class="text-center alert alert-success" id="message">
            <th:block th:if="${message != null}">[[${message}]]</th:block> 
        </div>
        <div>
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>User ID</th>
                        <th>Photo</th>
                        <th>Email</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Roles</th>
                        <th>Enabled</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}" th:id="'user-index-' + ${user.id}">
                        <td th:text="${user.Id}"></td>
                        <td>
                            <i class="fa-regular fa-image fa-lg icon-dark"></i>
                        </td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.firstName}"></td>
                        <td th:text="${user.lastName}"></td>
                        <td th:text="${user.roles.toString()}"></td>
                        <td>
                            <a th:if="${user.enabled == true}" class="fa-solid fa-circle-check icon-green"></a>
                            <a th:if="${user.enabled == false}" class="fa-solid fa-circle-xmark icon-red"></a>
                        </td>
                        <td>
                            <a class="fa-regular fa-pen-to-square icon-dark" th:href="@{'/users/edit/' + ${user.id}}"></a>
                            <a class="fa-regular fa-trash-can icon-red" th:onclick="'showConfirmDeleteUserModal(' + ${user.id} + ')'"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="text-center">
        <p>Shopme Control Panel - Copyright &copy; Shopme</p>
    </div>

    <div class="modal" id="confirmDeleteUser">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalContent">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button> -->
                    <button type="button" class="btn btn-danger" onclick="confirmDeleteUser()">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        const confirmDeleteUserElement = document.getElementById('confirmDeleteUser');
        const messageElement = document.getElementById('message');

        messageElement.style.display = 'none';

        const message = '[[${message}]]';
        if (message) {
            messageElement.style.display = 'block';
            messageElement.innerHTML = message;
        }

        const deleteUserModalInstance = new bootstrap.Modal(confirmDeleteUserElement);

        let currentDeleteUserIdSelet = 0;

        // deleteUserBtnElement.onclick = (e) => {
        //     e.preventDefault();
        //     const resultConfirm = confirm("Are you sure to remove this user ?");

        //     if (resultConfirm) {
        //         fetch();
        //     }
        // }

        function showConfirmDeleteUserModal(userId) {
            currentDeleteUserIdSelet = userId;

            document.getElementById('modalTitle').innerHTML = 'Warning';
            document.getElementById('modalContent').innerHTML = `Are you sure to remove user id: ${userId}`;
            
            deleteUserModalInstance.show();
        }

        function confirmDeleteUser() {
            if (currentDeleteUserIdSelet > 0) {
                console.log(currentDeleteUserIdSelet);
                const removeApiPath = "[[@{/users/delete/}]]" + currentDeleteUserIdSelet;

                fetch(removeApiPath);

                messageElement.style.display = 'block';
                messageElement.innerHTML = 'The user id ' + currentDeleteUserIdSelet + ' has been remove successfully';

                document.getElementById('user-index-' + currentDeleteUserIdSelet).remove();
            }

            deleteUserModalInstance.hide();
        }
    </script>
</body>

</html>